<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>HanClip</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.hanclip.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hanclip</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>HanClipBuildTimestamp</key>
	<string>2026.08.07 00:08</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HanClip 브라우저 즐겨찾기</string>
			<key>UTTypeIdentifier</key>
			<string>com.intosharp.hanclip.browser-favorites</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hanclipfavorites</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.hanclip.browser-favorites+json</string>
			</dict>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>티샷과 박수 소리에 반응해 AiShot 클립을 만들기 위해 카메라 접근이 필요합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>티샷과 박수 소리를 감지해 AiShot 촬영 시점을 찾기 위해 마이크 접근이 필요합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>완성된 영화를 사진 앱으로 개봉하기 위해 접근이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>선택한 사진과 Live Photo를 영상으로 만들기 위해 사진 보관함 접근이 필요합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>KakaoBigSans-Regular.ttf</string>
		<string>NanumGothic-Regular.ttf</string>
		<string>Pretendard-Regular.otf</string>
		<string>MaruBuri-Regular.ttf</string>
		<string>PuradakGentleGothic.ttf</string>
		<string>Tenada.ttf</string>
		<string>Cafe24Ssurround.ttf</string>
		<string>DdulgiMayo.otf</string>
		<string>Pretendard-Bold.ttf</string>
		<string>GowunDodum-Regular.ttf</string>
		<string>GowunBatang-Regular.ttf</string>
		<string>BlackHanSans-Regular.ttf</string>
		<string>DoHyeon-Regular.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>AiShotIcon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>AiShot</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.intosharp.hanclip.aishot</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>folder</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>파일</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.intosharp.hanclip.files</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>calendar</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>달력</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.intosharp.hanclip.calendar</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>photo.on.rectangle</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>사진</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.intosharp.hanclip.photo</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>globe</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>찾기</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.intosharp.hanclip.search</string>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
